# Handling Imbalanced data
### 1. Upsampling
### 2. Down sampling

In [3]:
import pandas as pd
import numpy as np

In [4]:
# set the random seed for reproducibility
np.random.seed(123)

# create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples  * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [5]:
n_class_0,n_class_1

(900, 100)

In [6]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc = 0 ,scale = 1,size = n_class_0),
    'feature_2':np.random.normal(loc = 0,scale = 1,size = n_class_0),
    'target':[0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc = 2 ,scale = 1,size = n_class_1),
    'feature_2':np.random.normal(loc = 2,scale = 1,size = n_class_1),
    'target':[1]*n_class_1
})

In [7]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [12]:
df_minorty = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [14]:
df_majority

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [17]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [20]:
# upsampling perform
from sklearn.utils import resample

In [22]:
df_minorty_upsample = resample(df_minorty,
                              replace = True, # sample with replacement
                              n_samples=len(df_majority), # to match the majority
                              random_state=42)

In [23]:
df_minorty_upsample.shape

(900, 3)

In [26]:
df_minorty_upsample.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [28]:
df_minorty_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [29]:
df_upsampled = pd.concat([df_majority,df_minorty_upsample])

In [30]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [31]:
df_upsampled.shape

(1800, 3)

# downsampling

In [33]:
class_0 = pd.DataFrame({
    'feature_1':np.random.normal(loc = 0 ,scale = 1,size = n_class_0),
    'feature_2':np.random.normal(loc = 0,scale = 1,size = n_class_0),
    'target':[0]*n_class_0
})
class_1 = pd.DataFrame({
    'feature_1':np.random.normal(loc = 2 ,scale = 1,size = n_class_1),
    'feature_2':np.random.normal(loc = 2,scale = 1,size = n_class_1),
    'target':[1]*n_class_1
})

In [34]:
df = pd.concat([class_0,class_1]).reset_index(drop = True)

In [35]:
df.head()

   feature_1  feature_2  target
0  -1.774224   0.285744       0
1  -1.201377   0.333279       0
2   1.096257   0.531807       0
3   0.861037  -0.354766       0
4  -1.520367  -1.120815       0

In [37]:
df_minorty = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [40]:
df_majority_downsample = resample(df_majority,
                              replace = False, # sample with replacement
                              n_samples=len(df_minorty), # to match the minority class
                              random_state=42)

In [41]:
df_majority_downsample.shape

(100, 3)

In [43]:
df_downsampled = pd.concat([df_minorty,df_majority_downsample])

In [45]:
df_downsampled.shape

(200, 3)

In [48]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64